{
  "module": {
    "type": "commonjs",
    "ignoreDynamic": true
    
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "dynamicImport": true,
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true
    },
    "target": "es2019",
    "externalHelpers": false
  }
}
