schedules:
- cron: "0 8 * * *"
  displayName: "Daily Build 1"
  always: true
  branches:
    include:
      - master
- cron: "0 13 * * *"
  displayName: "Daily Build 2"
  always: true
  branches:
    include:
      - master
- cron: "0 19 * * *"
  displayName: "Daily Build 3"
  always: true
  branches:
    include:
      - master
jobs:
- job: BaseBuild
  timeoutInMinutes: 360
  strategy:
    matrix:
      linux:
        imageName: 'ubuntu-16.04'
      mac:
        imageName: 'macos-10.15'
      windows_2017:
        imageName: 'vs2017-win2016'
      windows_2015:
        imageName: 'vs2017-win2016'
      alpine:
        imageName: 'ubuntu-16.04'
  pool:
    vmImage: $(imageName)
  steps:
  - task: UsePythonVersion@0
    displayName: Setup Python
    inputs:
      versionSpec: '2.7'
      architecture: 'x64'
  - task: NodeTool@0
    displayName: Install Node
    inputs:
      versionSpec: '12.x'
  - script: sudo apt-get update && sudo apt-get install -y libc6-dev-i386 gcc-multilib g++-multilib
    condition: contains(variables['Agent.JobName'], 'linux')
    displayName: Install Linux build dependencies
  - script: choco install visualcpp-build-tools --version 14.0.25420.1 -fy && npm config set msvs_version 2015
    condition: contains(variables['Agent.JobName'], 'windows_2015')
    displayName: Install Windows build dependencies
  - script: npm install && npm run ci:build
    displayName: Build Nexe
    env:
      GITHUB_TOKEN: $(PersonalGithubToken)
      NEXE_VERBOSE: $(NEXE_VERBOSE)
      msbuild_args: /3G
    condition: not(contains(variables['Agent.JobName'], 'windows'))
  - powershell: |
      iex (new-object net.webclient).downloadstring('https://get.scoop.sh')
      scoop install nasm
      npm install
      npm run ci:build
    displayName: Build Nexe (Windows)
    condition: contains(variables['Agent.JobName'], 'windows')
    env:
      GITHUB_TOKEN: $(PersonalGithubToken)
      NEXE_VERBOSE: $(NEXE_VERBOSE)
